#Nos Artistes {
	color: black;
 font-size: 40px;
 font-family: Junge;
 font-weight: 400;
 word-wrap: break-word
}

#Nos Expositions {
	color: black;
 font-size: 40px;
 font-family: Junge;
 font-weight: 400;
 word-wrap: break-word

}
#Contact {
	color: black;
 font-size: 40px;
 font-family: Junge;
 font-weight: 400;
 word-wrap: break-word
}


